body {
  background-color: rgb(211, 240, 211);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  background-color: rgb(235, 238, 235);
  border: 10px;
  border-style: solid;
  border-color: black;
  width: 60%;
  margin-left: 20%;
}

.header {
  border: 4px;
  border-style: dotted;
  border-color: purple;
}

.welcome-text{
  text-align: justify-left !important;
}

.nav {
  border: 5px;
  border-style: dashed;
  border-color: green;
}

.login {
  background-color: rgb(192, 209, 203);
  border: 3px;
  border-style: solid;
  border-color: white;
  width: 60%;
  margin-left: 20%;
  padding-bottom: 50px;
}

.login-h2 {
  background-color: whitesmoke;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  border: 3px;
  border-style: solid;
  border-color: blue;
}

.one-plant {
  border: 5px;
  border-style: dotted;
  border-color: black;
}

.logs {
  border: 2px;
  border-style: solid;
  border-color: red;
}